certifi==2020.12.5
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.4
django-crispy-forms==1.9.1
django-mathfilters==1.0.0
djangorestframework==3.11.0
gunicorn==20.0.4
requests==2.25.1
html5lib==1.0.1
httplib2==0.13.0
idna==2.8
Pillow==8.1.0
psycopg2==2.8.6
pycparser==2.19
Pyphen==0.9.5
PySocks==1.7.0
pytz==2018.5
tinycss2==1.0.2
urllib3==1.25.3
webencodings==0.5.1
whitenoise==5.0.1
django-heroku

